<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="storageUser" />
    <add key="Password" value="storagePassword" />
    <add key="StoragePath" value="./Storage" />
    <add key="StorageInfoPath" value="./Storage/StorageInfo/info.dat" />
  </appSettings>
</configuration>