<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="storageUser" />
    <add key="Password" value="storagePassword" />
    <add key="StorageFilesPath" value="./Storage/Files" />
    <add key="StorageInfoPath" value="./Storage/info.dat" />
    <add key="LogPath" value="./Storage/Log.txt" />
    <add key="MaxStorage" value="5368709120" />
    <add key="MaxFileSize" value="2147483648" />
  </appSettings>
</configuration>