<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageFilesPath" value="./Storage/Files" />
    <add key="LogPath" value="./Storage/Log" />
    <add key="MaxStorage" value="5368709120" />
    <add key="MaxFileSize" value="2147483648" />
  </appSettings>
</configuration>